* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.note {
    background: white;
    padding: 5px;
}

.note h4 {
    text-align: center;
}

.header {
    padding: 60px;
    text-align: center;
    background: #2fbad1;
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
    margin: 0px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #d7f3f7;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 0px;
    color: white;
}

.img1 {
    flex: 30%;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    padding: 0px;
}

.smallimg {
    background-image: linear-gradient(45deg, #2fbad1, #067c91);
    height: 60px;
    padding: 20px;
}

#fieldset1 {
    margin-top: 50px;
    margin-bottom: 30px;
    border: #333 2px solid;
}

#first-name {
    height: 30px;
    width: 300px;
    border-bottom:  2px solid #2fbad1;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

#last-name {
    height: 30px;
    width: 300px;
    border-bottom:  2px solid #2fbad1;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

#email {
    height: 30px;
    width: 300px;
    border-bottom:  2px solid #2fbad1;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

#password {
    height: 30px;
    width: 300px;
    border-bottom:  2px solid #2fbad1;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}


#fieldset2 {
    border: #333 2px solid;
}

#site {
    margin-top: 10px;
    padding: 5px;
    width: 300px;
    border-bottom:  2px solid #2fbad1;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

#textarea {
    margin-top: 10px;
    width: 300px;
    border:  2px solid #2fbad1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#submit {
    margin-left: 2px;
    margin-top: 10px;
    padding: 5px;
    width: 300px;
    background-color: #2fbad1;
    border:  2px solid #2fbad1;
    color: white;
}

#submit:hover {
    background-color: #067c91;
    border:  2px solid #067c91;
}

#reset {
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    background-color: #2fbad1;
    border:  2px solid #2fbad1;
    color: white;
}

#reset:hover {
    background-color: #067c91;
    border:  2px solid #067c91;
}

.footer {
    flex: 100%;
    padding: 20px;
    text-align: center;
    background: #067c91;
}

@media screen and (max-width: 700px) {
    .content, .navbar {
        flex-direction: column;
    }
}